@page
@model RazorPhotos.Pages.Media.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Media.Path)
        </dt>
        <dt class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Media.Path)" style="width:auto;height:100px;" />
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Media.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Media.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Media.Creation_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Media.Creation_Date)
        </dd>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Proprietati
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Media.Tags)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </dl>
</div>

